/* General Styles */
body{
  font-family: 'Poppins', sans-serif;
}


/* Main Container */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 20px auto;
  box-shadow: 0 4px 10px #0000001a;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  height: auto;
  /* padding: 40px; */
}

/* Left Section */
.left-section {
  background-color: #452e79;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}
.left-section .LoginLogo{
  margin-bottom: 20px;
  max-width: 150px;
}

.left-section h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 800;
}

.left-section p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
}

/* Right Section (Login Form) */
.right-section {
  padding: 40px;
}

.right-section h2 {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Form Inputs */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  align-items: center;
  color: #442e79;
  display: flex;
  font-weight: 500;
  gap: 8px;
  margin-bottom: 8px;
}

.input-group input {
  border: 1px solid #ddd;
  outline: 1px solid #442e79;
  border-radius: 8px;
  font-size: 1rem;
  padding: 12px 40px 12px 16px;
  transition: all .3sease;
  transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  width: 100%;
}

/* Remember Me & Forgot Password */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.options a {
  text-decoration: none;
  color: #5856d6;
  transition: color 0.3s ease-in-out;
}

.options a:hover {
  color: #bb86fc;
}

/* Login Button */
.login-btns {
  width: 100%;
  padding: 10px;
  background-color: #452e79;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/* Responsive Design */
@media screen and (max-width: 768px) {
  .container {
      grid-template-columns: 1fr;
      width: 95%;
  }

  .left-section {
      padding: 20px;
  }

  .right-section {
      padding: 20px;
  }
}
