.options-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .options-form h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .options-form input,
  .options-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease-in-out;
  }
  
  .options-form input:focus,
  .options-form select:focus {
    border-color: #5856dc;
  }
  
  .add-answer-btn {
    background-color: #5856dc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .add-answer-btn:hover {
    background-color: #5856dc;
  }
  
  .answer-list {
    margin-top: 20px;
    text-align: left;
  }
  
  .answer-item {
    background: #f8f9fa;
    padding: 10px;
    border-left: 5px solid #5856dc;
    margin-top: 5px;
    border-radius: 5px;
    list-style: none;
  }
  